.church {
    font-size: 2.5rem;
    
}
.mbr-text {
    font-weight: 500;
    
}

.correct {
    font-size: 2.5rem;
}
.slider-image {
    margin-top: 5px;
    padding-top: 1px;
}
.item-content {
    text-align: center;
    margin-left: 50px;
}
.item-title {
    font-size: 1.5rem;
}
.w-100 {
    margin-top: 40px;
    
}
h5 {
    text-align: center;
}
.you {
    margin-left: -20px;
    margin-top: 10px;
}

.menu {
    background-color: rgb(54, 58, 3);
    padding: 50px 0;
    margin-top: 3px;
}

.dropdown-item   {
    background-color: rgb(240, 245, 243);
}
.we {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    padding-left: -20px;
    margin-left: -10px;
    
}

 .vid {
    padding-left: 10px;
    margin: auto;
    
 }
 video {
    width: 100%;
 }
 .work {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 .col-md-3 {
    width: 100%;
    margin: auto;
 }
.set {
    display: flex;
    margin: auto;
}
.set1 {
    display: flex;
    margin: auto;
}
.both {
    display: flex;
    justify-content: space-evenly;
    
}
.tush {
    margin-left: 10px;
}
.card-title {
    font-size: x-large;
}
